.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
}

header {
  grid-column: 1 / span 3;
}

aside {
  grid-column: 1 / span 1;
  grid-row: 2;
}

footer {
  grid-column: 1 / span 3;
  text-align: center;
  padding: 20px;
}

article {
  grid-column: 2 / span 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Thème clair (par défaut) */
.sommaire-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Couleur de fond de la track en mode clair */
}

.sommaire-container::-webkit-scrollbar-thumb {
  background: #ccc; /* Couleur du thumb en mode clair */
  border-radius: 10px; /* Arrondir les bords du thumb */
}

.sommaire-container::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Couleur du thumb au survol en mode clair */
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #252525;
  }

  .App::-webkit-scrollbar-track {
    background: #1e1e1e; /* Couleur de fond de la track en mode sombre */
  }

  .App::-webkit-scrollbar-thumb {
    background: #3b3b3b; /* Couleur du thumb en mode sombre */
    border-radius: 10px; /* Arrondir les bords du thumb */
  }

  .App ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur du thumb au survol en mode sombre */
  }
}